body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: 1942px;
    background-position: top;
    font-family: sans-serif;
}


.loginbox{
    width: 320px;
    height: 420px;
    background: white;
    color: #303030;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    color: darkblue;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 32px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #303030;
    background: transparent;
    outline: none;
    height: 40px;
    color: #303030;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #340373;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #711CE7;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.loginbox a:hover
{
    color: #505050;
}